<li>
<table>
  <tr>
  <td>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.firstName + " " + user.lastName, user %>
  </td>
  <% if current_user().isAdmin() %>
    <td class = "admin">
      <%= user.accountType %>
      <% if !user.isAdmin() %>
          <%= button_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.firstName}" %>
      <% end %>
    </td>
  <% end %>
  </tr>
</table>
</li>
