<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.firstName + " " + user.lastName, user %>
  <% if current_user().accountType == "admin" %>
  | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.firstName}" %>
  <% end %>
</li>
