<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.firstName + " " + @user.lastName %>
      </h1>
    </td>
    <td class="sidebar round">
      <%= render "/shared/side" %>
    </td>
  </tr>
</table>
