<h1>ParWinr Video Game</h1>

<p>
  FAQ: 
  <ul>
  <li><a href="#">How to play</a></li>
  <li><a href="#">How to create a game</a></li>
  <li><a href="#">For corporate clients, how to advertise within ParWinr's gaming experience</a></li>
  </ul>
</p>


