<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Featured Games</h1>
        <p>
	  Thumbnails of featured games
	</p>
	<p>
	  My friends' games, most recent first
        </p>
      </td>
      <td class="sidebar round">
        <%= render "/shared/side" %>
      </td>
    </tr>
  </table>
<% else %>
  <h1>Featured Games</h1>
  <p>
    Thumbnails of featured games
  </p>
  <p>
    If signed in, my friends' games, most recent first
  </p>
  
  <% unless signed_in? %>
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
    <br />
    <%= link_to "Sign in", signin_path, :class => "signup_button round" %>
  <% end %>
<% end %>
